Repository Jan-Chojnacki/Stripe-Slinger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-smoke, build-runtime-image

.gitlab/ci/lint.yml:

ci-smoke:
  stage: lint
  script:
    - echo "CI changed."
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/ci/**/*
    - when: never

fmt:
  extends: .rust-changes
  stage: checks
  script:
    - .gitlab/ci/scripts/fmt.sh

clippy:
  extends: .rust-changes
  stage: checks
  script:
    - .gitlab/ci/scripts/clippy.sh
  rules:
    - !reference [.rust-changes, rules]
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_BRANCH'
      allow_failure: true
    - when: never

.gitlab/ci/runtime-image.yml:

build-runtime-image:
  stage: bootstrap
  image: docker:25
  services:
    - name: docker:25-dind
      command: ["--tls=false"]
  before_script: []
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  rules:
    - changes:
        - .gitlab/ci/images/runtime/Dockerfile
        - .gitlab/ci/images/runtime/**/*
        - .gitlab/ci/runtime-image.yml
        - .gitlab/ci/scripts/build-runtime-image.sh
  script:
    - .gitlab/ci/scripts/build-runtime-image.sh

Remove ci-smoke from pipelines
  .gitlab/ci/lint.yml
Due: ci-smoke

Add no-code gate pipeline
  .gitlab-ci.yml
  .gitlab/ci/base.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/no-code-gate.yml
  .gitlab/ci/test.yml
Due: ci-smoke

Move echo to .sh for no-code-gate.yml
  .gitlab-ci.yml
  .gitlab/ci/no-code-gate.yml
  .gitlab/ci/scripts/no-code-gate.sh
Due: ci-smoke

Move no-code-gate to checks stage
  .gitlab/ci/base.yml
  .gitlab/ci/no-code-gate.yml
Due: ci-smoke

Change when to always in no-code-gate
  .gitlab/ci/no-code-gate.yml
Due: ci-smoke

Fix workflow rules
  .gitlab-ci.yml
Due: ci-smoke

Refactor pipelines
  .gitlab-ci.yml
  .gitlab/ci/base.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/no-code-gate.yml
  .gitlab/ci/quality.yml
  .gitlab/ci/release.yml
  .gitlab/ci/test.yml
  tree
Due: ci-smoke

Fix no-code-gate rules
  .gitlab/ci/no-code-gate.yml
Due: ci-smoke

Add execute permissions to no-code-gate.sh
  .gitlab/ci/scripts/no-code-gate.sh
Due: ci-smoke

Move rules to .gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab/ci/no-code-gate.yml
  .gitlab/ci/runtime-image.yml
Due: ci-smoke, build-runtime-image

Feature/no code pipeline
  .gitlab-ci.yml
  .gitlab/ci/base.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/no-code-gate.yml
  .gitlab/ci/quality.yml
  .gitlab/ci/release.yml
  .gitlab/ci/runtime-image.yml
  .gitlab/ci/scripts/no-code-gate.sh
  .gitlab/ci/test.yml
  tree
Due: ci-smoke, build-runtime-image

Feature/streamline pipelines
  .gitlab/ci/base.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/quality.yml
  .gitlab/ci/release.yml
Due: ci-smoke

Feature/no code pipeline
  .gitlab/ci/base.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/quality.yml
  .gitlab/ci/release.yml
Due: ci-smoke

Adds volume mapper tests
  crates/raid-rs/src/retention/volume/mapper_tests.rs
  crates/raid-rs/src/retention/volume/mod.rs
  crates/raid-rs/src/retention/volume/volume_tests.rs
Due: none

Fixes clippy warnings and code formatting
  crates/raid-rs/src/layout/bits/bits_tests.rs
  crates/raid-rs/src/layout/stripe/traits/stripe/stripe_tests.rs
  crates/raid-rs/src/retention/disk/disk_tests.rs
  crates/raid-rs/src/retention/volume/mod.rs
Due: none

Fix runtime-image job to be on schedule
  .gitlab-ci.yml
  .gitlab/ci/runtime-image.yml
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fix runtime-image to be run only on schedule or image changes
  .gitlab-ci.yml
Due: ci-smoke

Fix runtime-image
  .gitlab/ci/images/runtime/Dockerfile
Due: ci-smoke, build-runtime-image

Fix runtime-image Dockerfile
  .gitlab/ci/images/runtime/Dockerfile
Due: ci-smoke, build-runtime-image

Fix runtime-image Dockerfile
  .gitlab-ci.yml
Due: ci-smoke

Fix runtime-image Dockerfile
  .gitlab-ci.yml
  .gitlab/ci/runtime-image.yml
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fix runtime-image Dockerfile
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fix runtime-image Dockerfile
  .gitlab/ci/images/runtime/Dockerfile
  .gitlab/ci/runtime-image.yml
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab/ci/runtime-image.yml
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab/ci/images/runtime/Dockerfile
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab-ci.yml
  .gitlab/ci/scripts/build-runtime-image.sh
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab/ci/runtime-image.yml
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab-ci.yml
  .gitlab/ci/runtime-image.yml
Due: ci-smoke, build-runtime-image

Fixes
  .gitlab-ci.yml
  .gitlab/ci/images/runtime/Dockerfile
Due: ci-smoke, build-runtime-image
